@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Virgil;
  src: url('/Virgil.woff2');
  font-weight: 400;
  font-style: normal;
}

html, body, #__next {
  @apply w-full h-full;
}

body {
  @apply bg-zinc-900 text-pink-200
  bg-fixed bg-gradient-to-b from-purple-900  to-zinc-900;
}